/*Name Header*/
h1
{
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;

    /*width: 23%;
    margin-left: 20px;
    padding: 10px 10px 10px 15px;
    height: 40px;
    width: 300px;*/
    margin: 0;
    padding: 20px;
    width: 33%;
    height: 10%;
}

/*About Me Header*/
h2
{

}

body
{
    position: relative;
    margin: 0 auto;
}
.body2
{
    width: 960px;
    position: relative;
    margin: 0 auto;
}

/*Links Header*/
.links
{
    float: left;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    width: 100%;
    height: 10%;

}

/*About Me Paragraph*/
p
{
    color: #777777;
}

/*Portfolio Table*/
.portfolioTable
{

}

/*Portfolio Caption*/
.portfolioCaption
{
    color: #777777;
    float: left;
    background-color: #4aaaa5;
}

/*Portfolio Image*/
#selfImage
{
    height: 200px;
    width: 200px;
    float: left;
    margin: 10px;
}