/*Name Header*/
h1
{
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 33%;
    height: 40px;
    padding-top: 40px;
    z-index: 2;
    text-align: center;
}

/*Page Header*/
h2
{
}

body
{
    position: relative;
    margin: 0 auto;
}

.body2
{
    width: 960px;
    position: relative;
    margin: 0 auto;
    background-color:gray;
    padding: 100px 20px;
}

/*Links Header*/
.links
{
    background-color: white;
    float: left;
    position: absolute;
    top: 0px;
    padding-left: 60%;
    padding-top: 3%;
    font-size: 21px;
    width: 100%;
    height: 39.5px;
    z-index: 1;
}

/*About Me Paragraph*/
p
{
    color: #777777;
}

/*Portfolio Table*/
.portfolioTable
{
    position: relative;
}

/*Portfolio Caption*/
.portfolioCaption
{
    position: relative;
    top: -60px;
    padding: 10px;
    width: 380px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    float: left;
    background-color: #4aaaa5;
}

/*Portfolio Image*/
#selfImage
{
    height: 200px;
    width: 200px;
    float: left;
    margin: 20px;
}

.middleLink
{
    border-style: solid;
    border-width: 0px 1px;
    border-color: black;
}

.footerBackground
{
    float: left;
    background: #777777;
    position: fixed;
    bottom: 0px;
    z-index: 7;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}